:root{
  --White: seashell;
  --salmon: salmon;
  --bg-color: grey;
}

/****** Hero *********/
.MainPhoto {
  background: url(IMG/MainPhoto.png);
  background-size: cover;
  height: 100vh;

}
header h1 {
  display: flex;
}

h2{
  text-align: center;
  text-decoration-color: var(--White);
}

/****** Nav *********/
nav{
  text-align: right;
}
ul{
  display: inline-block;
  list-style-type: none;
  text-align: right;
  color: var(--White);
}
ul li{
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: var(--White);
}
a{
  text-decoration:  none;
  color: black;
}
p{
  text-decoration:  none;
  color: black;
}

h3{
text-align: center;
text-decoration-color: var(--salmon);
padding-top: 5%;
padding-bottom: 5%;
}
/****** End of Nav *********/

/****** product *****/

.YinYangBag{
  display: flex;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 5%;
}

/***** End of product ****/

/******** products *********/
.Featured-Products{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10%;
 }

/********* End of Products *******/

.CallToAction h1{
  padding-bottom: 10%;
}
.CallToAction {
  display: flex;
  justify-content: center;
}

/********* End of Products *******/

/********* Footer ********/
footer {
  background-color: grey;
}

/******* End of Footer ******/

/******** Form ********/
form{
  box-sizing: border-box;
  background: url(IMG/CallToAction.png);
  background-size: center center;
  height: 50vh;
}

.wrapper{
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.form-area{
  width: 600px;
  height: 500px;
  display: flex;
  background-color: black;
  border-radius: 25px;
  padding: 2em;
}

.msg-area{
  display: fex;
  flex-direction: column-reverse;
}

.msg-area textarea{
  flex: 1;
  min-width: 1em;
  min-height: 1em;
  background: white ;
  color: white;
  margin-top: 50px;
  margin-left: 19px;
  border: 19px;
}

.details-area{
  flex: 40px;
  order: 1;
  text-align: center;
}

.details-area button{
  background: white;
  color:black ;
  border: 6px;
  padding: 15px 50px;
  border-radius: 50px;
  font-family: fantasy;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 70px;
}

P{
    color: aqua;
    margin-top: 80px;
}

h1{
  color: red;
  text: var(--salmon);
}

/********* About *******/
.Joggers {
  display: flex;
  justify-content: center;
}

/********* End of Joggers *****/

/********* About *******/
.About-Photo2 {
  display: flex;
  justify-content: center;
  height: 75vh;
}

h1{
  text-align: center;
}

/********* End of About *****/

/****************Men***************/

.Men-Products{
  display: flex;
  justify-content: space-around;
  height: 55vh;
  padding-bottom: 10%;
 }


 .Men-Products2{
  display: flex;
  justify-content: space-around;
  height: 55vh;
  padding-bottom: 10%;
 }
/********* End of Men ***********/

/***************Women***************/

.Women-Products{
  display: flex;
  justify-content: space-around;
  height: 55vh;
  padding-bottom: 10%;
 }

/***************End of Women**********/

