:root{
  --White: seashell;
  --salmon: salmon;
  --bg-color: grey;
}

header h1 {
  display: flex;
}

h2{
  text-align: center;
  text-decoration-color: var(--White);
}


/******************* Nav ******************/
nav{
  text-align: ;
  z-index: 1;

}
ul{
  display: inline-block;
  list-style-type: none;
  text-align: right;
  color: var(--White);
}
ul li{
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: var(--White);
}

a{
  text-decoration:  none;
  color: black;
}
p{
  text-decoration:  none;
  color: black;
}

h3{
text-align: center;
text-decoration-color: var(--salmon);
padding-top: 5%;
padding-bottom: 5%;
}

/******************** End of Nav **************/

/******************* Search ********************/

.nav-search{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.search-nav{
  display: flex;
  justify-content: right;
}
.search-items{
  display: flex;
  align-items: centerS;
}

.search{
  width: 500px;
  display: flex;
}
.search-box{
  width: 80%;
  height: 10px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid red;
  text-transform: capitalize;
  background: none;
  counter-reset: red;
  outline: none;
}



/****************** YinYangBag ******************/

.YinYangBag{
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

/**************** End of YinYangBag ******************/


/**************** Featured-products ****************/
.Featured-Products{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10%;
 }

/***************** End of featured-Products **********/

/******************* Pledge ******************/

.CallToAction h1{
  padding-bottom: 10%;
}
.CallToAction {
  display: flex;
  justify-content: center;
}

/*************** End of Pledge **************/

/******************* Footer ********************/
footer {
  height: 150px;
  padding-block-start: ;
  background-color: grey;
}


/******************* End of Footer ********************/


/********************** Form ************************/
form{
  box-sizing: border-box;
  background: url(IMG/CallToAction.png);
  background-size: center center;
  height: 50vh;
}

.wrapper{
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.form-area{
  width: 600px;
  height: 500px;
  display: flex;
  background-color: black;
  border-radius: 25px;
  padding: 2em;
}

.msg-area{
  display: fex;
  flex-direction: column-reverse;
}

.msg-area textarea{
  flex: 1;
  min-width: 1em;
  min-height: 1em;
  background: white ;
  color: white;
  margin-top: 50px;
  margin-left: 19px;
  border: 19px;
  font-size: 200;
}

.details-area{
  flex: 40px;
  order: 1;
  text-align: center;
}

.details-area button{
  background: white;
  color:black ;
  border: 6px;
  padding: 15px 50px;
  border-radius: 50px;
  font-family: fantasy;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 70px;
}


h1{
  color: red;
  text: var(--salmon);
}

P{
  font-size: 22px;
  color: beige;
}

/********************* End of Form ****************/


/********************* Wall-Art ****************/

.Wall-Art {
  display: flex;
  justify-content: space-around;
  flex-direction:  row-reverse;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product-container{
  padding: 0 18px;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
  display: none;
}

.product-card{
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
  margin-bottom: 20%;
}

.product-image{
  position: relative;
  width: 150%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

span.new-item{
  position: absolute;
}

.wish-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .wish-btn{
  opacity: 1;
}

.wish-btn:hover{
  background: white;
}

.product-info{
  position: relative;
  width: 50%;
  height: 50%;
}

.product-name{
  position: absolute;
  text-transform: uppercase;
  }

.product-description{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
}

.price{
  font-weight: 900;
  font-size: 20px;
}
/**************** End of Wall-Art ************/

/***************** About ******************/
.About-Photo2 {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.p{
  text-decoration-color: black;
}

h1{
  text-align: center;
}

/********************* End of About *****************/

/**************** Mens cards ***************/

.men-products {
  display: flex;
  justify-content: space-around;
  flex-direction:  row-reverse;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product-container{
  padding: 0 18px;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
  display: none;
}

.product-card{
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
  margin-bottom: 20%;
}

.product-image{
  position: relative;
  width: 150%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

span.new-item{
  position: absolute;
}

.wish-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .wish-btn{
  opacity: 1;
}

.wish-btn:hover{
  background: white;
}

.product-info{
  position: relative;
  width: 50%;
  height: 50%;
}

.product-name{
  position: absolute;
  text-transform: uppercase;
  }

.product-description{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
}

.price{
  font-weight: 900;
  font-size: 20px;
}
/****************** End of Men Cards ***************/

/******************** Women Cards *******************/

.women-products {
  display: flex;
  justify-content: space-around;
  flex-direction:  row-reverse;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product-container{
  padding: 0 18px;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
  display: none;
}

.product-card{
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
  margin-bottom: 20%;
}

.product-image{
  position: relative;
  width: 150%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

span.new-item{
  position: absolute;
}

.wish-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .wish-btn{
  opacity: 1;
}

.wish-btn:hover{
  background: white;
}

.product-info{
  position: relative;
  width: 50%;
  height: 50%;
}

.product-name{
  position: absolute;
  text-transform: uppercase;
  }

.product-description{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
}

.price{
  font-weight: 900;
  font-size: 20px;
}
/****************   End of Women Cards  ***************/

